@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
        background-color: rgb(78, 114, 231);
        padding: 20px;
        height:fit-content;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: "Kanit", serif;
}
nav{
        display: flex;
        justify-content: space-between;
}
img{
        border-radius: 8px;
        width: 50px;
}
a{
        color: black;
        font-size: larger;
}
p{
        font-size: larger;
}

.line {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid black;
        margin: 1em 0;
        padding: 0;
}
